{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">Invite Manager</h1>
        <p>WEB-приложение, которое позволяет вам делать рассылку билетов-приглашений на мероприятие и вести учет входа по разосланным билетам</p>
    </div>
{% endblock %}
